[submodule "ccd-definition-processor"]
	path = ccd-definition-processor
	url = git@github.com:hmcts/ccd-definition-processor.git
[submodule "ccd-definition-processor/ccd-definition-processor"]
	path = ccd-definition-processor/ccd-definition-processor
	url = git@github.com:hmcts/ccd-definition-processor.git
